body {
  font-family: "Poppins";
  margin: 0;
}

.card {
  margin: 20px;
  border: 1px solid rgb(206, 203, 203);
  border-radius: 4px;
}

.header {
  background-color: rgb(240, 234, 234);
  border-bottom: 1px solid rgb(206, 203, 203);
  padding: 10px;
}

.card-body {
  padding: 0px 10px;
  margin: 20px 0px;
}

.card-title {
  font-size: 1.2rem;
  margin: 0px;
}

.card-text {
  font-size: 1rem;
}

.btn {
  padding: 7px 12px;
  border-radius: 4px;
  color: white;
}

.btn-primary {
  background-color: dodgerblue;
}

a {
  text-decoration: none;
}
