@keyframes btn {
  0% {
    color: white;
  }
  100% {
    color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
  }
}

html {
  box-sizing: border-box;
  font-family: 'Arial', 'helvetica neue', sans-serif;
  font-size: 24px;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0px;
  overflow: hidden; /*This property specifies whether to clip content or to add scrollbars when an element's*/
  display: flex;
  align-items: center;
  justify-content: stretch;
  max-width: 100vw;
  min-height: 100vh;
}

.card {
  flex: 1;
  margin: 0;
  padding: 0px 25vw;
}

.card-header {
  margin: 0;
  padding: 15px 20px;
  border: 2px solid lightgray;
  background-color: rgba(22, 22, 22, 0.05);
  border-radius: 5px 5px 0 0;
}

.card-body {
  margin-top: -2px;
  padding: 20px 20px;
  border: 2px solid lightgray;
  border-radius: 0 0 5px 5px;
}

.card-title {
  margin: 0;
  padding: 0;
}

p {
  font-size: medium;
  padding-bottom: 20px;
}

.btn {
  padding: 10px 12px;
  border-radius: 3px;
  border: none;
  color: white;
  text-decoration: none;
}

.btn-primary {
  background-color: dodgerblue;
}

.btn:hover {
  cursor: pointer;
  animation: btn 0.3s ease-in-out;
  color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);
}
