html {
  font-family: 'Poppins', 'Muli', 'Arial', 'helvetica neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.panel {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  display: row;
  align-items: stretch;
  width: 100vw;
  height: 33vh;
}

img {
  min-width: 33%;
  border: 0.5px solid red;
}
