body {
  margin: 0;
  font-family: "Poppins";
}

.centered {
  text-align: center;
}

.bar {
  background-color: dimgray;
  min-height: calc(5vh + 10px);
  padding-top: calc((5vh + 10px) / 4);
  color: white;
  box-sizing: border-box;
}

.main {
  min-height: calc(90vh - 20px);
  padding-top: calc((90vh - 20px) / 2);
  font-size: 26px;
  box-sizing: border-box;
}
