/* html {
    background: mistyrose;
} */

body {
    margin: 0;
    font-family: "Poppins";
}

.container {
    border: 10px solid goldenrod;
    display: flex;
    padding: 10px 20px;
}

.btn {
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 5px;
}