

body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.item {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    border: 2px gold;
    flex: 1;
}