body {
  margin: 0%;
}

.nav {
  background-color: grey;
  color: white;
  text-align: center;
}

.footer {
  background-color: grey;
  color: white;
  text-align: center;
}

.container {
  min-height: 100vh;
  text-align: center;
}

.content {
  margin: 50vh;
}
