body {
    margin: 0;
    /* color: red; */
    font-family: "Poppins";
}

.center {
    display: block;
    text-align: center;
    padding: 40px;
    margin: 10px;
}

.top-title {
    margin: 0;
    border-radius: 20px;
    border: 2px black;
}